<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.schuetzenradar.app">

    <!-- ✅ INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ✅ GEO LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	
	<!-- ✅ PUSH-->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <!-- ✅ AD_ID entfernen -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>

    <application
        android:label="SchützenRadar"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ✅ GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvFQBmT8trMPJxkWlm43j8i9f5FbAjJp0"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>